
<div class="container_sidebar">
<aside>
  <button> <img class="drop_btn" src="https://res.cloudinary.com/cloudpandora/image/upload/v1649696504/tache-bouton_xgqrb8.png"> </button>
  <a href="home"> <img class="logo_btn" src="https://res.cloudinary.com/cloudpandora/image/upload/v1650289820/logo_site_sangfull_puluqr.png" class="img-fluid" alt="Responsive image"></a>
  <div class="container_link">
  <nav>
    <a href="from_intimate_to_political"><%= t('intimate_title') %></a>
    <a href="oro_rosso">Oro Rosso</a>
    <a href="of_blood_and_sea"><%= t('blood_sea_title') %></a>
    <a href="red_thread"><%= t('red_thread_title') %></a>
    <a href="the_lovers"><%= t('lovers_title') %></a>
    <a href="garden"><%= t('garden_title') %></a>
    <a href="ce_ccose_sta_dnasti_ndrame">Ce ccòse stà ’nd’a sti ndrame</a>
    <a href="street_art">Street art</a>
    <a href="press_and_exhibitions" class="different"><%= t('press_title') %></a>
    <a href="biography"><%= t('bio_title') %></a>
  </nav>
</aside>
</div>
