
<div class="sidebar">
 <div class="container_logo">
<img src="https://picsum.photos/100/100?grayscale">
  </div>

  <div class="container_list_project">
 <ul>
  <li><%= link_to "Oro Rosso", projet_1_path %></li>
  <li><%= link_to "Red Thread", projet_2_path %></li>
  <li><%= link_to "The Lovers", projet_3_path %></li>
  <li><%= link_to "Garden", projet_4_path %></li>
  <li><%= link_to "Ce ccose sté jiinde a ste ‘ndrame ", projet_5_path %></li>
  <li><%= link_to "From personal to Political", projet_6_path %></li>
  <li><%= link_to "Of Blood and Sea", projet_7_path %></li>
  <li><%= link_to "Street art", projet_8_path %></li>
 </ul>
</div>

<div class="container_list_pro">
  <ul>
  <li><%= link_to "Press & Project", press_path %></li>
  <li><%= link_to "Contact & Bio", bio_path %></li>
</ul>
  </div>
</div>




