<div class="sidebar">

 <div class="container_logo">
<img src="https://picsum.photos/100/100?grayscale">
  </div>
  <div class="contrainer_list_project">
 <ul>
  <li><%= link_to "projet_1", projet_1_path %></li>
  <li><%= link_to "projet_2", projet_2_path %></li>
  <li><%= link_to "projet_3", projet_3_path %></li>
  <li><%= link_to "projet_4", projet_4_path %></li>
  <li><%= link_to "projet_5", projet_6_path %></li>
  <li><%= link_to "projet 6", projet_1_path %></li>
  <li><%= link_to "projet 7", projet_1_path %></li>
  <li><%= link_to "projet 8", projet_1_path %></li>
 </ul>
</div>

<div class="container_list_pro">
  <ul>
  <li><%= link_to "Press & Project", press_path %></li>
  <li><%= link_to "Contact & Bio", bio_path %></li>
</ul>
  </div>
</div>

