<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="container_titre">
      <h1><%= t('intimate_title') %></h1>
    </div>
    <div class="photo_description">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661002549/from%20intimacy/SERVICE_DE_TABLE_ClotildeP2_o5icbd.jpg" class="img-fluid">
     <p><%= t('intimate_detail_1') %></p>
    </div>
    <div class="container_description">
    <p> <%= t('intimate_description_html') %> </p>
    </div>
  </div>
  <div class="photo_invisible">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1651683306/from%20intimacy/INVISIBLE_siteweb_vecto2_nhkenb.png"  class="img-fluid">
    <p><%= t('intimate_detail_2') %></p>
  </div>

    <div class="palazzo">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689444016/from%20intimacy/pazz_1_siteweb3_r1ilcf.jpg" class="img-fluid">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689444017/from%20intimacy/pazz_2_siteweb3_i4dxpu.jpg" class="img-fluid">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689444017/from%20intimacy/pazz_di_giustizia_siteweb3_kmqt7r.jpg" class="img-fluid">

    </div>
 <p><%= t('intimate_detail_3') %></p>
    <div class="politique">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689443158/from%20intimacy/machine_a%CC%80_coudre_siteweb3_rl55jl.jpg" class="img-fluid">

        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689443158/from%20intimacy/SERVICE_DE_TABLE_de%CC%81tail_siteweb3_pmawdl.jpg" class="img-fluid">

    </div>
    <p><%= t('intimate_detail_4') %> - <%= t('intimate_detail_5') %></p>


    <div class="politique">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689862678/from%20intimacy/EN_FORME_EPISTOLAIRE_siteweb3_nbhsyv.jpg" class="img-fluid">

    </div>
    <p><%= t('intimate_detail_6') %></p>
 <div class="col-12 col-md-10 col-lg-10">
  <div class="arrows">
    <a class="arrows_1" href="oro_rosso">Oro rosso</a>
    <a class="arrows_1" href="of_blood_and_sea"><%= t('blood_sea_title') %></a>
  </div>
 </div>
</div>
<%= render 'shared/footer' %>
