<div class="container_projet">
  <div class="col-12 col-md-10 col-lg-8">
    <div class="container_titre">
      <h1><%= t('blood_sea_title') %></h1>
      <p></p>
    </div>
    <div class="photo_description_sea">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1650402996/Of%20blood%20and%20sea/NAPPERON_MOLLUSQUE_2_siteweb_asjf4o.jpg" class="img-fluid">
    </div>
    <div class="container_description">
      <p><%= t('blood_sea_description_html') %></p>
    </div>
  </div>
 <div class="hyppo">
    <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689718195/Of%20blood%20and%20sea/PARFOIS_IL_FAUT_REMETTRE_A%CC%80_L_EAU_siteweb1_ptfvcx.jpg" class="img-fluid">
  </div>
  <p><%= t('blood_detail_1') %></p>
  <div class="col-12 col-md-10 col-lg-10">
  <div class="carnet_1">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1690452005/Of%20blood%20and%20sea/bariterreetmer_siteweb2_lvpiwh.jpg" class="img-fluid">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1690452005/Of%20blood%20and%20sea/Seiche_siteweb2_cto9g8.jpg" class="img-fluid">
  </div>
  <div class="carnet">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1690452005/Of%20blood%20and%20sea/TERRE_ET_MER___ANGUILLA_siteweb2_ienmje.jpg" class="img-fluid">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1690452005/Of%20blood%20and%20sea/stella_siteweb2_qflhxc.jpg" class="img-fluid">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1690452005/Of%20blood%20and%20sea/COQUI_siteweb2_jsfh8s.jpg" class="img-fluid">
  </div>
</div>
  <p><%= t('blood_detail_2') %></p>
  <div class="arrows">
    <a class="arrows_1" href="oro_rosso">Oro rosso</a>
    <a class="arrows_1" href="red_thread"><%= t('red_thread_title') %></a>
  </div>
</div>
<%= render 'shared/footer' %>
