<div class="container_projet">
  <div class="col-10 col-sm-10 col-md-10 col-lg-8">
    <div class="container_titre">
      <h1><%= t('red_thread_title') %></h1>
    </div>
    <div class="photo_description_thread">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1661004565/Red%20Thread/Mani_madri_siteweb2_apgnx3.jpg" class="img-fluid">
        <p><%= t('red_thread_detail_1') %></p>
    </div>
    <div class="container_description">
      <p><%= t('red_thread_description') %></p>
    </div>
    </div>
    <div class="col-10 col-sm-10 col-md-10 col-lg-10">
  <div class="black_thread">
    <div class="black_thread_img">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689350038/Red%20Thread/P1033475_siteweb3_yg9duz.jpg" class="img-fluid">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689350038/Red%20Thread/P1033477_siteweb3_adfio4.jpg" class="img-fluid">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689350038/Red%20Thread/P1033474_siteweb3_kw116e.jpg" class="img-fluid">
      </div>
  <p><%= t('red_thread_detail_2') %></p>
  </div>
</div>
<div class="col-10 col-sm-10 col-md-10 col-lg-8">
  <div class="skull_thread">
      <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1689349744/Red%20Thread/P1033440_siteweb3_tny7qc.jpg" class="img-fluid">
      <p><%= t('red_thread_detail_3') %></p>
  </div>
  </div>



  <div class="arrows">
    <a class="arrows_1" href="of_blood_and_sea"><%= t('blood_sea_title') %></a>
    <a class="arrows_1" href="the_lovers"><%= t('lovers_title') %></a>
  </div>
</div>

<%= render 'shared/footer' %>
