<div class="container_projet">
  <div class="col-10 col-md-10 col-lg-6">
    <div class="container_lovers">
      <div class="container_titre">
        <h1><%= t('lovers_title') %> </h1>
      </div>
      <div class="lovers_red">
        <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1663431812/The%20lovers/Rouge_envie_siteweb3_pghjoe.jpg" data-toggle="lightbox" class="col-sm-4">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1663431812/The%20lovers/Rouge_envie_siteweb3_pghjoe.jpg" class="img-fluid">
        <p><%= t('lovers_detail_1') %></p>
        </a>
      </div>
      <div class="container_description_lover">
      <p> <%= t('lovers_description_html') %> </p>
      </div>
    </div>
  </div>
  <div class="col-10 col-md-10 col-lg-8">
    <div class="lovers_diptych">
      <a href="https://res.cloudinary.com/cloudpandora/image/upload/v1663431636/The%20lovers/Les_amantes_siteweb3_nunwku.jpg" data-toggle="lightbox" class="col-lg-8">
        <img src="https://res.cloudinary.com/cloudpandora/image/upload/v1663431636/The%20lovers/Les_amantes_siteweb3_nunwku.jpg" class="img-fluid">
        <p><%= t('lovers_detail_2') %></p>
      </a>
    </div>
  </div>
  <div class="arrows">
    <a class="arrows_1" href="red_thread"><%= t('red_thread_title') %></a>
    <a class="arrows_1" href="garden"><%= t('garden_title') %></a>
  </div>
</div>
<%= render 'shared/footer' %>
