<!DOCTYPE html>
<html>
  <head>
    <title>NdrameArt</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Cousine:ital,wght@0,400;0,700;1,400&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
<link href=https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
<%= render 'shared/sidebar' %>
<%= render 'shared/footer' %>
     <!-- futur footer render -->
    <%= yield %>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>
$(document).ready(function(){
  $(".toggle").click(function(){
    $("aside").toggleClass("close")
  });
 });

// click outside
$(document).mouseup(function(e){
  var container = $("aside");
    if (!container.is(e.target) && container.has(e.target).length === 0)
    {
         $("aside").removeClass("close")
    }
});
 </script>

  </body>
</html>
